@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,600;1,300;1,400&display=swap');

*{margin: 0; padding: 0;}

html, body{
    min-height: 100%;
}
body{
    background-color: #EDD5C2;
    margin: 0; padding: 0;
}

.inicialLogo{
    width: 40%;
    margin: auto;
    display: block;
}

nav{
    width:800px;
    height: 34px;
    margin-left: 33%;
    list-style:none;
    margin-top: 10px;
}

header li{
    display: inline-block;
    vertical-align: middle;
}

header li img{
    vertical-align: middle;
}

.btnNav{
    padding:10px;
    padding-right: 50px;
    padding-left: 50px;
    text-decoration:none;
    text-align:center;
    vertical-align: middle;
    font-family: 'Cormorant Garamond', serif;
    font-size: 19px;
    color:#734E32;
    transition: 0.5s;
    font-weight: bold;
    font-style: italic;
}
.btnNav:hover{
    border:none;
    background:#734E32;
    color:#EDD5C2;
}

.btnNavImg{
    padding-right: 4px;
    text-decoration:none;
    text-align:center;
    vertical-align: middle;
}

.welcome-banner{
    background-image: url(images/section-welcome.jpg);
    width: 100%;
    height: 605px;
    background-position: center;
    background-size: cover;
}

.welcome-text{
    background-color: #EDD5C2;
    width: 508px;
    height: 205px;
    position: absolute;
    top: 63%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.welcome-text h2{
    font-family: 'Cormorant Garamond', serif;
    font-size: 56px;
    color:#743B1E;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    margin-top: 25px;
}

.welcome-text p{
    color: #734E32;
    font-family: 'Cormorant Garamond', serif;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 10px;
}
.mall{
    height: 650px;
    width: 100%;

}

.recipes{
    background-color: #402104;
    height: 850px;
    width: 100%;

}

.recipes h1{
    font-family: 'Cormorant Garamond', serif;
    font-size: 56px;
    color: #EDD5C2;
    font-weight: bold;
    font-style: italic;

}

.numbers{
    background-color: #743B1E;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    color: #EDD5C2;
    align-items: center; 
    justify-content: center;
  
}

.recipe1{
    background-color: #EDD5C2;
    width: 320px;
    height: 491px ;
    margin-top: 150px;
    margin-left: 450px;
    float: left
}

.recipe2{
    background-color: #EDD5C2;
    width: 320px;
    height: 491px ;
    margin-top: 150px;
    margin-left: 10px;
    float: left;
    
}

.recipe3{
    background-color: #EDD5C2;
    width: 320px;
    height: 491px;
    float: right;
    margin-top: 150px;
    margin-right: 472px;
}

.contact{
    height: 850px;
    width: 100%;

}

.contact h1{
    font-family: 'Cormorant Garamond', serif;
    font-size: 56px;
    color: #402104;
    font-weight: bold;
    font-style: italic;
    position: absolute;
    top: 265%;
    left: 35%;
}

.contact h3{
    font-family: 'Cormorant Garamond', serif;
    font-size: 25px;
    color: #402104;
    font-weight: bold;
    font-style: italic;
}

.address{
    float: left;
    position: absolute;
    top: 278%;
    left: 30%;
    width: 250px;
}

.address p{
    margin-top: 12px;
    font-family: 'Cormorant Garamond', serif;
    font-size: 18px;
    color: #402104;
    font-weight: bold;
    font-style: italic;
}

.telephone{
    float: left;
    position: absolute;
    top: 278%;
    left: 49%;
}
.telephone p{
    margin-top: 12px;
    font-family: 'Cormorant Garamond', serif;
    font-size: 18px;
    color: #402104;
    font-weight: bold;
    font-style: italic;
}

.open-hours{
    float: right;
    position: absolute;
    top: 278%;
    left: 64%;
}
.open-hours p{
    margin-top: 10px;
    font-family: 'Cormorant Garamond', serif;
    font-size: 18px;
    color: #402104;
    font-weight: bold;
    font-style: italic;
}

#hour1{
    position: absolute;
    top: 25%;
    left: 49%;
    float: right;
}
#hour2{
    position: absolute;
    top: 48%;
    left: 49%;
    float: right;
}
#hour3{
    position: absolute;
    top: 74%;
    left: 49%;
    float: right;
}

.maps{
    position: absolute;
    top: 298%;
    left: 30%;
}

.finalLogo{
    width: 150px;
    height: 150px;
    margin: auto;
    display: block;
}

footer {
    position: relative;
    bottom: 0;
    background-color: #402104;
    color: #FFF;
    width: 100%;
    height: 150px;    
    text-align: center;
    line-height: 100px;
}