<header>
    <img src="/images/banner.png" alt="Banner do site" class="inicialLogo">
    <nav class="menu-itens">
        <ul>
            <li><a href="" class="btnNav">Início</a>
            <li><a href="loja" class="btnNav">Loja</a>
            <li><a href="contato" class="btnNav">Contato</a>
            <li><a href="receitas" class="btnNav">Receitas</a>
            <li><a href="#" class="btnNavImg "><img src="/images/cart-dark.png" alt="Carrinho" class="img-nav" id="cartDark"><span class="quantityItem">0</span></a></li>
            <li><a href="#user" class="btnNavImg"><img src="/images/user-dark.png" alt="User" class="img-nav"></a></li>
        </ul>    
    </nav>
    <div class="card">
      <h1>Carrinho</h1>
      <ul class="listCard">
      </ul>
      <div class="checkOut">
          <div class="total">0</div>
          <div class="closeShopping">Fechar</div>
      </div>
    </div>
</header>