<header>
    <img src="/images/banner.png" alt="Banner do site" class="inicialLogo">
    <nav class="menu-itens">
        <ul>
            <li><a href="" class="btnNav">Início</a>
            <li><a href="loja" class="btnNav">Loja</a>
            <li><a href="contato" class="btnNav">Contato</a>
            <li><a href="receitas" class="btnNav">Receitas</a>
            <li><a href="#" class="btnNavImg "><img src="/images/cart-dark.png" alt="Carrinho" class="img-nav" id="cartDark"><span class="quantityItem">0</span></a></li>
            <li><a href="#user" class="btnNavImg"><img src="/images/user-dark.png" alt="User" class="img-nav" id="navUser"></a></li>
        </ul>    
    </nav>
    <div class="card">
      <h1>Carrinho</h1>
      <ul class="listCard">
      </ul>
      <div class="checkOut">
          <div class="total">R$</div>
          <div class="finalizarPedido">Finalizar pedido</div>
          <div class="closeShopping">X</div>
      </div>
    </div>
    <div class="modal" id="b">
        <div class="headerModal">
          <h2 id="loginTitle">Login</h2>
          <h2 id="cadTitle">Cadastro</h2>
          
          <a href="#" class="cancel">X</a>
        </div>
        <div class="contentModal">
          <form id="frmLogin">
            <label id="lblEmailLogin">E-mail</label>
            <input type="email" id="txtEmailLogin" name="email" required />
            <label id="lblPasswordLogin">Senha</label>
            <input type="password" id="txtPasswordLogin" name="password" minlength="8" required />
            <img src="/images/see-password.png" alt="ver a senha" class="seeImg" id="imgPassword2">
            <button id="btnLogin">Entrar</button>
          </form>
          <form id="frmCad">
            <label id="lblName">Nome</label>
            <input type="text" id="txtName" name="user" required minlength="8" maxlength="90" size="60"/>
            <label id="lblEmailCad">E-mail</label>
            <input type="email" id="txtEmailCad" name="email" required />
            <label id="lblCellphone">Celular</label>
            <input type="tel" id="txtCellphone" name="phone" maxlength="15" onkeyup="handlePhone(event)" />
            <label id="lblBirthday">Data de nascimento</label>
            <input type="date" id="birthday" name="birthday" min="1930-01-01" max="2003-12-31" />
            <label id="lblPasswordCad">Senha</label>
            <input type="password" id="txtPasswordCad" name="passwordUser" minlength="8" required />
            <img src="/images/see-password.png" alt="ver a senha" class="seeImg2" id="imgPassword">
            <button type="submit" id="btnCad">Cadastrar</button>
          </form>
        </div>
</header>