<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/index.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/css/estiloCelular.css" media="screen" />
    
    <title>Jafé</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.jpg"> <!--voltar aqui depois-->
</head>
<body class="">
    <script src="/js/index.js"></script>
    <div id="nav-placeholder">
    </div>
    <section class="welcome-banner">
        <div class="welcome-text">
            <h2>Bem vindo!</h2>
            <p>Esperamos que você possa desfrutar dessa experiência, 
                desde nossas receitas até nossa loja de grãos selecionados. 
                Para um café saboroso e um dia quentinho.</p>
        </div>
    </section>

    <section class="mall">
        <h1 id="title">Visite nossa loja com cafés selecionados!</h1>
        <div class="card1 card">
            <div class="image">
              <img src="/images/sacola-acaia.png"/>
            </div>
            <div class="details">
              <div class="center">
                <h1>Café Acaiá</h1>
                <p>R$50,00</p>
                <ul>
                  <li><a href="loja">Saiba mais</a></li>
                </ul>
              </div>
            </div>
          </div>
        
          <div class="card2 card">
            <div class="image">
              <img src="/images/sacola-arabica.png"/>
            </div>
            <div class="details">
              <div class="center">
                <h1>Café Arábica<br></h1>
                <p>R$40,00</p>
                <ul>
                  <li><a href="loja">Saiba mais</a></li>
                </ul>
              </div>
            </div>
          </div>
        
          <div class="card3 card">
            <div class="image">
              <img src="/images/sacola-catuai.png"/>
            </div>
            <div class="details">
              <div class="center">
                <h1>Café Catuaí<br></h1>
                <p>R$35,00</p>
                <ul>
                  <li><a href="loja">Saiba mais</a></li>
                </ul>
              </div>
            </div>
          </div>
        <button><a href="loja">Acesso a loja</a></button>
    </section>

    <section >
      <div class="recipes">       
          <h1 id="titleRecipes">Sem ideia? Experimente nossas receitas!</h1>
          <button><a href="receitas">Visite nosso blog</a></button>
          
          <div class="gallery">
              <img src="/images/bolo-robusta.jpg" alt="bolo de chocolate robusta">
              <img src="/images/cappuccino.jpg" alt="cappuccino">
              <img src="/images/coctel-montecristo.jpg" alt="drink montecristo">
              <img src="/images/frappe.jpg" alt="frappe">
              <img src="/images/irish.jpg" alt="irish coffee">
              <img src="/images/macchiato.jpg" alt="macchiato">
              <img src="/images/mocha.jpg" alt="mocha">
            </div>
      </div>     
    </section>

    <section>
        <div class="contact">
            <h1>Fique a vontade para nos visitar!</h1>
            <div class="address">
                <h3>Endereço</h3>
                <p>Praça da Liberdade, 169 - Liberdade, São Paulo - SP, 01503-010</p>
            </div>
            <div class="telephone">
                <h3>Contato</h3>
                <p>4002-8922</p>
                <p>jafe@mysite.com</p>
            </div>
            <div class="open-hours">
                <h3>Horário de funcionamento</h3>
                <p>Seg - Sex</p>
                <p id="hour1">8:00 – 20:00 </p>
                <p>Sábado</p>
                <p id="hour2">9:00 – 19:00</p>
                <p>Domingo</p>
                <p id="hour3">9:00 – 21:00</p>
            </div>
            <div class="maps">
                <iframe id="mapsFrame" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3657.361719647309!2d-46.6377671238391!3d-23.555448861376608!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce59a91dcdb5c5%3A0x346ddb9dcc8fbf61!2s89%C2%BAC%20Coffee%20Station!5e0!3m2!1sen!2sbr!4v1699457815793!5m2!1sen!2sbr" width="800" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
       </div>
        
    </section>

    <footer>
        <div class="end-site">
            <img src="/images/end-site-logo.png" alt="Logo do fim do site" class="finalLogo">
            <!--<p>&copy; 2023 Minha Página HTML. Todos os direitos reservados.</p> -->
        </div>
    </footer>
</body>
</html>