<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <link rel="stylesheet" type="text/css" href="css/mall.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="css/index.css" media="screen" />

    
    <title>Jafé</title>
    <link rel="icon" type="image/x-icon" href="images/favicon.jpg"> <!--voltar aqui depois-->
</head>
<body>
    <script src="/js/mall.js"></script>
    <div id="nav-placeholder">
    </div>
    <section>
        <div class="grid-title">
            <h1>| Produtos</h1>
        </div>
        <div class="grid">    
            <div class="product-container">
                <div class="product-card product-change-acaia">
                    <div class="product-img">
                        <img src="images/acaia-transparent.png" alt="produto café acaiá">
                    </div>
            
                    <div class="product-content"  id="acaia-content">
                        <p></p>
                        <h2></h2>
                        <h4></h4>
                        <h3>R$</h3>
                        <a href="#"><img src="images/adicionar-prod.png" alt="Carrinho" class="img-nav" ></a>
                    </div>
            
                </div>
            </div>

            <div class="product-container">
                <div class="product-card product-change-arabica">
                    <div class="product-img">
                        <img src="images/arabica-transparent.png" alt="produto café acaiá">
                    </div>
            
                    <div class="product-content"  id="arabica-content">
                        <p></p>
                        <h2></h2>
                        <h4></h4>
                        <h3>R$</h3>
                        <a href="#"><img src="images/adicionar-prod.png" alt="Carrinho" class="img-nav" ></a>
                    </div>
            
                </div>
            </div>

            <div class="product-container">
                <div class="product-card product-change-bourbon">
                    <div class="product-img">
                        <img src="images/bourbon-transparent.png" alt="produto café acaiá">
                    </div>
            
                    <div class="product-content product-content-bourbon "  id="bourbon-content">
                        <p></p>
                        <h2></h2>
                        <h4></h4>
                        <h3>R$</h3>
                        <a href="#"><img src="images/adicionar-prod.png" alt="Carrinho" class="img-nav" ></a>
                    </div>
            
                </div>
            </div>

            <div class="product-container">
                <div class="product-card product-change-catuai">
                    <div class="product-img">
                        <img src="images/catuai-transparent.png" alt="produto café acaiá">
                    </div>
            
                    <div class="product-content product-content-catuai"  id="catuai-content">
                        <p></p>
                        <h2></h2>
                        <h4></h4>
                        <h3>R$</h3>
                        <a href="#"><img src="images/adicionar-prod.png" alt="Carrinho" class="img-nav"></a>
                    </div>
            
                </div>
            </div>

            <div class="product-container">
                <div class="product-card product-change-robusta">
                    <div class="product-img">
                        <img src="images/robusta-transparent.png" alt="produto café acaiá">
                    </div>
            
                    <div class="product-content" id="robusta-content">
                        <p></p>
                        <h2></h2>
                        <h4></h4>
                        <h3>R$</h3>
                        <a href="#"><img src="images/adicionar-prod.png" alt="Carrinho" class="img-nav"></a>
                    </div>
            
                </div>
            </div>
        </div>    
    </section>
    <footer>
        <div class="end-site">
            <img src="images/end-site-logo.png" alt="Logo do fim do site" class="finalLogo">
            <!--<p>&copy; 2023 Minha Página HTML. Todos os direitos reservados.</p> -->
        </div>
    </footer>
</body>
</html>