<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/css/index.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/css/estiloCelular.css" media="screen" />

    
    <title>Jafé</title>
    <link rel="icon" type="image/x-icon" href="images/favicon.jpg"> <!--voltar aqui depois-->
</head>
<body>
    <script src="/js/recipes.js"></script>
    <div id="nav-placeholder">
    </div>

    <footer>
        <div class="end-site">
            <img src="images/end-site-logo.png" alt="Logo do fim do site" class="center">
            <p>&copy; 2023 Minha Página HTML. Todos os direitos reservados.</p>
        </div>
    </footer>
</body>
</html>